<div class="jumbotron">
  <h1>You're Registered!</h1>
  <p>Thank you for registering for <strong>Under Construction</strong>!</p>
  <p>We can't wait for your child to join us as we learn to live life in progress!</p>
  <%= link_to "Return to form", register_path, class: "btn btn-primary" %>
</div>
      
